@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bubblegum+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Tsukimi+Rounded&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Tsukimi Rounded", serif;
}

/* #ff102e 
#ff0076   */

@layer base {
  .bg-img {
    background-image: url('/Images/bg.png');
    background-size: cover;
    background-position: center;
  }

  .font-nunito {
    font-family: "Nunito", serif;
  }

  .bebas-neue-regular {
    font-family: "Bebas Neue", serif;
  }

  .font-tsukimi {
    font-family: "Tsukimi Rounded", serif;
  }

  .font-orbitron {
    font-family: "Orbitron", serif;
  }

  .font-bubblegum {
    font-family: "Bubblegum Sans", serif;
  }


  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: #ff102e;
    --primary-foreground: 0 0% 98%;
    --secondary: #ff0076;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

