@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
/* #ff102e   */
#ff0076
body{
    font-family: "Inter", serif;
}

@layer base {
    .bg-img {
        background-image: url('/Images/bg.png');
        background-size: cover;
        background-position: center;
      }
     .font-nunito{
        font-family: "Nunito", serif;
     }
  }
  